{% comment %}
    usage: render 'quanity-selector' quantity:value
    quanity-selector:
        Displays the quanity with plus and minus buttons to increase or decrease the quanity
    params:         type        Description
    id              string      The input field ID
    name            string      The input field name
    quantity         Number      The quantity for the item
{% endcomment %}


<button type="button"  class="quantity-selector-minus" data-quantity-id="{{ id }}">
    {% render 'icon-minus' %}
</button>

<input id="{{ id }}" class="primary-text quantity-input-size field-small text-center" type="text" name="{{ name }}" min="1" value="{{ quantity }}">

<button type="button"  class="quantity-selector-plus" data-quantity-id="{{ id }}">
    {% render 'icon-plus' %}
</button>
