<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  {{ content_for_header }}
  {{ 'style.css' | asset_url | stylesheet_tag }}

</head>

<body>
  {% section 'header' %}
  {{ content_for_layout }}
  <script src="https://cdn.jsdelivr.net/npm/url-parse@1.5.10/dist/url-parse.min.js"></script>
  {{ 'scripts.js' | asset_url | script_tag }}
</body>
</html>