{{ 'product.css' | asset_url | stylesheet_tag }}

<div class="product">
    <div class="product-image">
        <img src="{{ product.featured_image | image_url: width: 500 }}" alt="" />
    </div>
    
    <div class="product-info">
        <h3 class="product-title">{{ product.title }}</h3>
        <p class="product-price">{{ product.price | money }}</p>
        <p class="product-description">{{ product.description }}</p>
    
        {% form 'product', product, id: 'product-form' %}
            <select class="primary-text field-large mg-b-small" name="id">
                {% for variant in product.variants %}
                    <option value="{{ variant.id }}">
                        {{ variant.title }}
                    </option>
                {% endfor %}
            </select>
            <input class="primary-text field-large mg-b-small" type="text" name="quantity" min="1" value="1">
            <button type="submit" class="button primary-btn field-large text-center">{{ 'General.add_to_cart' | t }}</button>
        {% endform%}
    </div>
</div>

{% schema %}
{
    "name": "Product",
    "class": "section-product",
    "settings": [
    ]
}
{% endschema %}
